@using EntityLayer.Concrete;
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td> <a href="#" class="btn btn-danger">Sil</a>  </td>
            <td> <a href="#" class="btn btn-warning">Güncelle</a>  </td>
            <td> <a href="#" class="btn btn-primary">Başlıklar</a>  </td>
            <!--
            <td><button class="btn btn-success">Güncelle</button></td>
            <td><button class="btn btn-danger">Sil</button></td>
            <td>
                <a class="btn btn-danger text-white" name="@item.CategoryId" asp-controller="Category" asp-action="DeleteCategory"
                   asp-route-id="@item.CategoryId">Sil</a>
            </td>
            -->
        </tr>
    }

</table>
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>
    
    
    

