@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>

<head>
    <title></title>
</head>
<body>

    <div>Kategori Ekleme Alanı </div>



    <form class="form-group" method="post">
        <input type="text" name="CategoryName" placeholder="Kategori Adı" class="form-control" />
        <br />
        <input type="text" name="CategoryDescription" placeholder="Kategori Açıklaması" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>

    </form>


</body>

</html>




