@using EntityLayer.Concrete;
@model List<Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>

<head>
    <title></title>
</head>
<body>

    <div>Kategori alanı </div>


    <table class="table table-bordered">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>

        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryStatus</td>

                <td><button class="btn btn-success">Güncelle</button></td>
                <td><button class="btn btn-danger">Sil</button></td>
            </tr>
        }
</body>

</html>


