@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>

    <head>
        <title></title>
    </head>
    <body>

    <div>Kategori alanı </div>


    <table class="table table-bordered">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>

        </tr>

        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>açıklama</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        
        <tr>
            <td>2</td>
            <td>Spor</td>
            <td>açıklama</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kitap</td>
            <td>açıklama</td>
            <td>True</td> 
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>

        <tr>
            <td>4</td>
            <td>Sinema</td>
            <td>açıklama bekleniyor</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    </table>
    <button class="btn btn-info">Yani Kategori</button>
    <a class="btn btn-warning" asp-action="GetCategoryList" asp-controller="Category">Kategori Listesi</a>
    <button class="btn btn-danger">Kategori Açıklamaları</button>

    </body>

</html>


